.form-button {
    margin: 0 auto;
    color: #fff;
    background: #003660;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 50px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
        }